<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
	<link rel="icon" href="img/weather.png">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class="main-content">
		{{>header}}
		<img src="img/IMG_20190526_213619.jpg" class="portrait" alt="">
	</div>
	
	{{>footer}}
</body>
</html>
